---
import './projects.style.css'

import ProjectCont from "../Containers/projectCont.astro";
---

<section class="hidden" id="projects">
  <h5>Things I've built</h5>
  <h2>Projects</h2>
  <div class="project hidden">
    <ProjectCont
      title="1. Neobot"
      description="Neobot is a Discord Bot made with Typescript with all of it's strict type checkings! The bot provides all the advanced features you'd want, all with the freedom of being open-source and well-maintained by the community."
      github="https://github.com/GoodBoyNeon/neobot"
    />
  </div>
  <div class="project hidden">
    <ProjectCont
      title="2. Password Generator"
      description="A cool practice project I made a while ago for getting started with Typescript React. It's not much but still something to to put out for anyone intrested! You'd love the gradient background with all the customizabilities you get to generate a secure password! "
      github="https://github.com/GoodBoyNeon/password-generator"
    />
  </div>
</section>
