---
import './contactCont.style.css';

const { icon, name, info } = Astro.props;
---

<div class="contactCont__box">
  <div class="contactCont__icon">
    <i class={icon}></i>
  </div>
  <h3>{name}</h3>
  <h4 class="text-light">{info}</h4>
</div>
