---
import './projectCont.style.css';

const { title, description, github } = Astro.props;
---

<div class="container projectCont__container">
  <h3 class="projectCont__title">{title}</h3>
  <h4 class="projectCont__description">{description}</h4>
  <a href={github} class="btn projectCont__btn" target="_blank">Check on Github</a>
</div>
