---
const { title, description, github } = Astro.props;
---

<div class="container">
  <h3 class="title">{title}</h3>
  <h4 class="description">{description}</h4>
  <a href={github} class="btn" target="_blank">Check on Github</a>
</div>

<style>
</style>

<style>
  .container {
    padding: 40px;
    border: 3px solid var(--color-primary);
    background: rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-top: 25px;
  }
  .title {
    color: var(--color-white);
  }
  .btn {
    font-size: 15.6px;
  }
  .description {
    color: var(--color-light);
    padding: 10px 10px 10px 10px;
  }
</style>