---
import './hero.style.css';

import CallToAction from './CallToAction.astro';
---

<section class="hero">
  <div class="container hero__container">
    <h5 class="hero__prefix-text hero__text">
      <span class="hero__span-text">Hello,</span> My Name is
    </h5>
    <h1 class="hero__main-text hero__text">Sushant Ray<span class="hero__span-text">.</span></h1>
    <h4 class="hero__bottom-text text-light hero__text">
      I am a high-school programmer based in Nepal. I like to build stuff on the web! Currently
      trying to be a 10x backend engineer... Feel free to break this site!
    </h4>
    <CallToAction />
  </div>
</section>

