:root {
  --color-background: #1e293b;
  --color-white: #f2f4fb;
  --color-light: #94a3b8;
  /* --color-white: #fff; */
  --color-primary: #44cbb1;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-background);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
.hero {
  height: 100vh;
}
section {
  margin-top: 8rem;
  min-height: 80vh;
}
section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}
section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
}
a:hover {
  color: var(--color-white);
}

.btn {
  font-size: 1.15rem;
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 12px 19.2px;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn-primary {
  font-size: 1.15rem;
  width: max-content;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background: var(--color-primary);
  color: var(--color-background);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-background);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media Queries (md) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/* Media Queries (sm) */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
