---
import './about.style.css';

import logo from '../../assets/images/neonlogo.svg';
---

<section id="about">
  <h5>Who am I?</h5>
  <h2>About Me</h2>

  <div class="container about__container">
    <div class="about__textbox">
      <h3 class="about__title">I'm Sushant,</h3>
      <p class="about__desc">
        and I like to contribute to the massive network of the internet! My passion is to build
        stuffs on the web, specially working on the server-side of different websites! <br /><br
        />I am currently in high-school, started programming at 13! I've got decent exprience with
        javascript, typescript and it's corresponding frameworks like React!<br />Here are a list
        of technologies I am experienced in:
        <br />
        <br />

        <span class="fa-solid fa-caret-right"> </span>
        <a class="about__skill" href="https://www.javascript.com" target="_blank">Javascript</a>
        <br />
        <span class="fa-solid fa-caret-right"> </span>
        <a class="about__skill" href="https://www.typescriptlang.org" target="_blank">Typescript</a
        >
        <br />
        <span class="fa-solid fa-caret-right"> </span>
        <a class="about__skill" href="https://www.nodejs.org" target="_blank">Node.js</a>
        <br />
        <span class="fa-solid fa-caret-right"> </span>
        <a class="about__skill" href="https://www.reactjs.org" target="_blank">React</a>
      </p>
    </div>
    <div class="about__image">
      <img class="img about__img" src={logo} alt="" />
    </div>
  </div>
</section>

<style>

</style>
