.contact-form__title {
  padding-bottom: 15px;
  text-align: center;
}
.contact-form__container {
  /* border: 1px solid var(--color-primary); */
  padding: 50px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.1);
}
.contact-form__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-form__input-field {
  width: 100%;
  padding: 15px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}
.contact-form__textarea {
  resize: none;
  height: 130px;
}
