---
import './contact.style.css';

import ContactCont from '../Containers/ContactCont.astro';
import ContactForm from './ContactForm.jsx';
---

<section id="contact">
  <h5>Let's have a talk</h5>
  <h2>Contact Me</h2>
  <div class="container contact__container">
    <div class="contact__social-cards">
      <a class="contact__social-box" href="mailto:goodboyneon03@gmail.com" target="_blank">
        <ContactCont
          id="email"
          name="Email Me"
          info="goodboyneon03@gmail.com"
          icon="fa-regular fa-envelope"
        />
      </a>
      <a class="contact__social-box" href="https://discord.com/app" target="_blank">
        <ContactCont
          id="discord"
          name="Discord"
          info="GoodBoyNeon#2424"
          icon="fa-brands fa-discord"
        />
      </a>
      <a class="contact__social-box" href="https://www.instagram.com/goodboyneon" target="_blank">
        <ContactCont
          id="instagram"
          name="Instagram"
          info="goodboyneon"
          icon="fa-brands fa-instagram"
        />
      </a>
    </div>
    <div class="contact__form">
      <ContactForm />
    </div>
  </div>
</section>
