---
import './contact.style.css';

import ContactCont from '../Containers/ContactCont.astro';
import ContactForm from './ContactForm.jsx';
---

<section id="contact" class="hidden">
  <h5>Let's have a talk</h5>
  <h2>Contact Me</h2>
  <div class="container contact__container">
    <div class="contact__social-cards">
      <a class="contact__social-box hidden" href="mailto:contact@neon.is-a.dev" target="_blank">
        <ContactCont
          id="email"
          name="Email Me"
          info="contact@neon.is-a.dev"
          icon="fa-regular fa-envelope"
        />
      </a>
      <a class="contact__social-box hidden" href="https://discord.com/users/816253376962625537" target="_blank">
        <ContactCont
          id="discord"
          name="Discord"
          info="neonthedeveloper"
          icon="fa-brands fa-discord"
        />
      </a>
      <a
        class="contact__social-box hidden"
        href="https://twitter.com/neonthenerd"
        target="_blank"
      >
        <ContactCont
          id="twitter"
          name="Twitter"
          info="NeonTheNerd"
          icon="fa-brands fa-twitter"
        />
      </a>
    </div>
    <div class="contact__form hidden">
      <ContactForm />
    </div>
  </div>
</section>
