---
import './header.style.css';
---

<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/" class="header__logotext">Neon</a>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item"><a class="header__list-link" href="#about">About</a></li>
        <li class="header__list-item"><a class="header__list-link" href="/blogs">Blogs</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
