---
import './footer.style.css';
---

<footer class="footer">
  <div class="footer__logoarea">
    <a href="/" class="footer__logo">Neon</a>
  </div>

  <ul class="footer__links">
    <li><a class="footer__link" href="#">Home</a></li>
    <li><a class="footer__link" href="#about">About Me</a></li>
    <li><a class="footer__link" href="#projects">Projects</a></li>
    <li><a class="footer__link" href="#contact">Contact</a></li>
    <li><a class="footer__link" href="/blogs">Blogs</a></li>
  </ul>

  <div class="footer__source-code-area">
    <a class="footer__source-code" href="https://github.com/goodboyneon/goodboyneon.github.io"
      >Source Code</a
    >
  </div>
  <div class="footer__copyrights"><small>&copy; GoodBoyNeon. All rights reserved.</small></div>
</footer>
