<footer class="footer">
  <div class="logoarea">
    <a href="/" class="logo">Neon</a>
  </div>

  <ul class="links">
    <li><a class="link" href="#">Home</a></li>
    <li><a class="link" href="#about">About Me</a></li>
    <li><a class="link" href="#projects">Projects</a></li>
    <li><a class="link" href="#contact">Contact</a></li>
    <li><a class="link" href="/blogs">Blogs</a></li>
  </ul>

  <div class="source-code-area">
    <a class="source-code" href="https://github.com/goodboyneon/goodboyneon.github.io"
      >Source Code</a
    >
  </div>
  <div class="copyrights"><small>&copy; GoodBoyNeon. All rights reserved.</small></div>
</footer>

<style>
  .footer {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .footer .link {
    color: var(--color-light);
  }
  .logoarea {
    padding-bottom: 20px;
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-white);
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 0 auto 48px;
    list-style-type: none;
  }
  .source-code-area {
    position: absolute;
    right: 0;
    padding-right: 10px;
  }
  .source-code {
    color: var(--color-light);
    text-decoration: underline;
  }
</style>
