---
import './socials.style.css';
---

<div class="socials">
  <a href="https://github.com/GoodBoyNeon" target="_blank" class="fa-brands fa-github"></a>
  <a
    href="https://www.linkedin.com/in/sushant-ray-895054249"
    target="_blank"
    class="fa-brands fa-linkedin"></a>
  <a href="https://twitter.com/GoodBoyNeon" target="_blank" class="fa-brands fa-twitter"></a>
</div>
