<div class="container">
  <h1 class="title">Coming soon!</h1>
  </div>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-family: 'Poppins', sans-serif;
  }
</style>